@charset "ISO-8859-1";

.center-div{
	margin:0 auto;
}
.details-div{
	margin:0 auto;
	width:800px;
}
.buildListDiv{
	margin:0 auto;
 	width:400px; 
}
.errorMsg {
	color: red;
	
}
.grade-container{
	margin:0 auto;
	width: 200px;
}
.grade-counter{
	text-align:center;
	width:50px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
	
}
.criteriaListDiv{
	vertical-align:top;
	display:inline-block;
	margin-left:25%;
/* 	margin:0 auto; */
/* 	width:400px; */
}
.inline-block{
	display:inline-block;
}
.criteria-container{
	width:400px;
}
.disabled{
	background:#808080;
}
table{
	border-collapse: collapse;
	margin:0 auto;
}
td{
	padding:5px;
	border:black 2px solid;
}
.td-data{
	width:300px;
}